<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>ERR bnb</h2>
        <p>The premiere travel destination selector. All you need to do in fill out a short survey with your budget and
          what you like, and the app does the rest.</p>
        <p>Below please fill in the following questions.</p>






      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>