<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">

                <h1>{{listing.title}}</h1>
                <br>
                <h4>{{listing.budget}}</h4>
                <h4>{{listing.dates}}</h4>

                <ul>
                    <li>{{listing.details}}</li>
                </ul>

                <button type="button" class="btn btn-primary btn-lg">Book Now!</button>
                <button type="button" class="btn btn-secondary btn-lg">Don't like this place, see the next!</button>


            </div>
        </div>
    </div>
</div>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>