<div id="survey">
  <div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
       <h1 class="text-ceneter">Question:</h1>
        <form class="form-group">


<h1 class="display-2">What is your budget for this trip?</h1>




     Select Your Budget

        <select name="motivation" id="answers">
            <option value="friend">$100-$200</option>
            <option value="novelty">$200-$500</option>
            <option value="peerPressure">$500+</option>
       </select>


      <br> <br><hr><br><br>

       <div class="container">
    <div class="row">
      <div class="col-12">
       <h1 class="text-ceneter">Question:</h1>
        <form class="form-group">


<h1 class="display-2">"Do you like staying alone, or enjoy the livelyness of a bed and breakfast?</h1>




Select Your Answer
        <select name="motivation" id="answers">
            <option value="friend">do I, i live it!</option>
            <option value="novelty">I hate sharing space withg stranger when im on vacation</option>
            <option value="peerPressure">I'm indiferant, i dont mind either</option>
       </select>


       <br> <br><hr><br><br>

       <div class="container">
    <div class="row">
      <div class="col-12">
       <h1 class="text-ceneter">Question:</h1>
        <form class="form-group">


<h1 class="display-2">Would you rather wake up to the sights of the ocean or not a deal breaker?</h1>




Slect Answer        <select name="motivation" id="answers">
            <option value="friend">I love the beach cant be further then a mile away!</option>
            <option value="novelty">I hate water, not big deal</option>
            <option value="peerPressure">I'm indiferant, i dont mind either</option>
       </select>

        {{#each questions}}
         
         
         <div class = "container">
  
    
      
        {{this.question}}
<br>



</div>
       
 

        




         
        {{/each}}
       </form>
      </div>

                            {{!-- <button type="button" class="btn btn-primary btn-lg">Next Question</button> --}}

                      <button type="button" class="btn btn-primary btn-lg text-ceneter"><a href="./listing">Submit to see where you are going</a></button>

    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>