<div class="container" id="survey">
  {{#each viewData.questions}}
  <div class="col-8 offset-2">
    <h3>{{this.text}}</h3>
    <select name="dwelling" id="answers">
      {{#each viewData.testArr}}
        <option value={{this}}>{{this}}</option>
       {{/each}}
    </select>
  </div>
  {{/each}}
  </div>