<div id="survey">
  <div class="container">
    <div class="row">
      <div class="col-12">
       <h1 class="text-ceneter">Question:</h1>
        <form class="form-group">


<h1 class="display-2">What is your budget for this trip?</h1>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Your Answer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">$100-$200</a>
    <a class="dropdown-item" href="#">$200-$500</a>
    <a class="dropdown-item" href="#">$500+</a>
  </div>
</div>

        {{#each questions}}
         
         
         <div class = "container">
  
    
      
        {{this.question}}
<br>



</div>
        {{!-- following section of drop down answers to moved to handlebars backend
        <select name="motivation" id="answers">
            <option value="friend">selection 1</option>
            <option value="novelty">selection 2</option>
            <option value="peerPressure">selection 3</option>
            <option value="confusion">selection 4</option>
        </select> --}}

 

        




         
        {{/each}}
       </form>
      </div>
                      <button type="button" class="btn btn-primary btn-lg">Submit to see where you are going</button>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>