<div class="container" id="survey">
  {{#each questions}}
  <div class="col-8 offset-2 questions">
    <h3>{{this.text}}</h3>
    <select name="dwelling" id="answers">
      {{#each this.choices}}
      <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
  {{/each}}
  <button class= "questionContainer"> Yay button!</button>
</div>