<div id="survey">
  <div class="container">
    <div class="row">
      <h5>Questions</h5>
      <div class="col-8 offset-2">
        <form class="form-group">
        {{#each questions}}
        
         
         <div class = "container">
   
    <form method="get">
        <br>
        {{this.question}}
        <select name="motivation" id="answers">
            <option value="friend">More friends = more parties!</option>
            <option value="novelty">It was this or download a new app to try</option>
            <option value="peerPressure">Only the cool people take surveys for compatibility</option>
            <option value="confusion">I thought this was a new promo for free pizza</option>
        </select>

 <select name="motivation" id="answers">
            <option value="friend">More hdghdfhdfhdfh = more parties!</option>
            <option value="novelty">It was thdhdfhdfhdfhis or download a new app to try</option>
            <option value="peerPressure">Only thedfhdfhdfh cool people take surveys for compatibility</option>
            <option value="confusion">I thought dfhfdhdfhfdh was a new promo for free pizza</option>
        </select>

        




         
        {{/each}}
       </form>
      </div>
                      <button type="button" class="btn btn-primary btn-lg">Submit to see where you are going</button>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>