<div id="survey">
  <div class="container">
    <div class="row">
      <h5>Questions</h5>
      <div class="col-12">
       
        <form class="form-group">
        {{#each questions}}
         <h1 class="text ceneter">Question:</h1>
         
         <div class = "container">
   
    <form method="get">
        <br>
        {{this.question}}

        {{!-- following section of drop down answers to moved to handlebars backend
        <select name="motivation" id="answers">
            <option value="friend">selection 1</option>
            <option value="novelty">selection 2</option>
            <option value="peerPressure">selection 3</option>
            <option value="confusion">selection 4</option>
        </select> --}}

 

        




         
        {{/each}}
       </form>
      </div>
                      <button type="button" class="btn btn-primary btn-lg">Submit to see where you are going</button>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>