.list-group-item {
  line-height: 2.5;
}


.btn.btn-primary a {
  color: #FFF

}
.btn.btn-primary a:active {
 color: #FFF


  
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}